*~
compiled/
bench/*.0
bench/*.1
bench/*.2
bench/*.3
bench/*.4
bench/*.5
bench/*.6
bench/*.7
bench/*.8
bench/*.9
bench/*.10
bench/*.11
bench/*.12
bench/*.13
bench/*.14
bench/*.15
bench/*.16
bench/*.17
bench/*.18
bench/*.19
bench/*.20
